*{
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}


.pdfGenereateButton{
    position:absolute;
    top: 20px;
    right: 15%;
}

#capture{
    width: 70%;
    margin: auto;
}

/* 
    Header
 */

.header{
    height: 120px;
}

.header img{
    width: 20%;
    height: 100%;
}

.header h3{
    text-align: center;
}

/* 
    Header
*/

/* 
    Bank Detail Section
*/

.bankDetail{
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}


.bankDetail div:nth-child(2){
    padding-top: 20px;
    margin-right: 15%;
}

.subject{
    margin:20px 0 ;
}

/* 
    Article
 */

 .dearSirMadam{
    margin: 30px 0;
 }


/*  
    Money breakdown table 
*/

.moneyBreakdown{
    border: 1px solid black ;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

.moneyBreakdown tr td{
    padding: 2px 10px;
}


.moneyBreakdownMiddleColumnData{
    border-bottom: 1px solid black;
    border-left: 1px solid black    ;
    text-align: center;
}

.moneyBreakdownFirstColumn{
    border-bottom: 1px solid black;
}


.amountInWords{
    border: 1px solid black;
    border-top: 0;
    padding: 5px;
    border-top: 0;
}


.moneyBreakdownLastColumData{
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    margin: 0;
    padding: 0;
}

/* 
    MoneyBreak down End
 */

/* 
    Article End 
*/



/* 
    footer
 */

 footer{
    margin-top: 100px;
 }

 .userBankDetils{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
 }

 .userBankDetils div{
    margin-top: 20px;
 }

 .userBankDetils div:nth-child(2){
    margin-right: 50px;
 }

 .kotakMahindraFooterimg{
    margin-top: 60px;
}
.kotakMahindraFooterimg img{
    width: 60%;
}

.courtAuth{
    margin: 30px;
    text-align: right;
}

/*
    Footer End
*/


 /* General style css class */
 .textAlignCenter{
    text-align: center;
}

.textAlignRight{
    text-align: right;
}

